<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Zubr - Courts</title>
    {{ $cssMain := resources.Get "css/main.css" | minify | fingerprint}}
    {{ $cssMisc := resources.Get "css/misc.css" | minify | fingerprint}}
    <link rel="stylesheet" href="{{ $cssMain.Permalink }}">
    <link rel="stylesheet" href="{{ $cssMisc.Permalink }}">
</head>
<body>
{{ block "main" . }}
{{ end }}
<div class="zbr-ftr flex-row flex-algn-itms-c pdng-5prc pdng-t-50px pdng-b-30px mrgn-t-30px mil-flex-column">
    <div class="section size-50 mil-size-100 mil-txt-algn-c">
        <img src="/imgs/icons/svg/zubr-f-logo.svg">
        <div>
            <a class="txt-underline" href="mailto:zubr.contact@gmail.com">zubr.contact@gmail.com</a>
        </div>
    </div>
    <div class="section size-50 txt-algn-r mil-size-100 mil-txt-algn-c mil-pdng-t-30px">
        <div class="pdng-b-20px">Мы в социальных сетях:</div>
        <div class="zbr-ftr-links">
            <a class="cursor-pointer" href="#"><img src="/imgs/icons/yt.png" alt="YouTube"></a>
            <a class="cursor-pointer" href="#"><img src="/imgs/icons/fb.png" alt="Facebook"></a>
            <a class="cursor-pointer" href="#"><img src="/imgs/icons/in.png" alt="Instagram"></a>
            <a class="cursor-pointer" href="#"><img src="/imgs/icons/ok.png" alt="OK"></a>
            <a class="cursor-pointer" href="#"><img src="/imgs/icons/tg.png" alt="Telegram"></a>
            <a class="cursor-pointer" href="#"><img src="/imgs/icons/vk.png" alt="VK"></a>
        </div>
    </div>
</div>
</body>
{{ $jsVendors := resources.Get "generated/js/chunk-vendors.js" | fingerprint }}
<script src="{{ $jsVendors.Permalink }}"></script>

