<!DOCTYPE html>
<html lang="ru">
<head>
    {{$title := cond (gt (.Title | len) 0) .Title "Гражданский мониторинг судебной системы"}}
    {{$fullTitle := printf "%s - %s" "ZUBR.cc" $title}}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="title" content="{{$title}}">
    <meta name="description" content="Гражданский контроль судебной системы">
    <meta property="og:description" content="Гражданский контроль судебной системы.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{$title}}">
    <title>{{$fullTitle}}</title>
    {{if and (eq .Type "judge") (isset .Params "full_name")}}
    <meta property="og:image" content='https://cdn.zubr.ws/courts/judges/{{.Param "full_name"}}.jpg'>
    {{end}}
    {{ $cssMain := resources.Get "css/main.css" | minify | fingerprint}}
    {{ $cssMisc := resources.Get "css/misc.css" | minify | fingerprint}}
    <link rel="stylesheet" href="/fonts/roboto/roboto.css">
    <link rel="stylesheet" href="{{ $cssMain.Permalink }}">
    <link rel="stylesheet" href="{{ $cssMisc.Permalink }}">
</head>
<body>
{{ block "main" . }}
{{ end }}
</body>
{{ block "js" . }}
{{end}}
