<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="title" content="ZUBR.CC">
    <meta name="description" content="Гражданский контроль судебной системы.">

    <meta property="og:description" content="Гражданский контроль судебной системы.">
    <meta property="og:type" content="website">
    <meta property="og:title" content="ZUBR.CC">

    <title>ZUBR - Courts</title>
    {{ $cssMain := resources.Get "css/main.css" | minify | fingerprint}}
    {{ $cssMisc := resources.Get "css/misc.css" | minify | fingerprint}}
    <link rel="stylesheet" href="/fonts/roboto/roboto.css">
    <link rel="stylesheet" href="{{ $cssMain.Permalink }}">
    <link rel="stylesheet" href="{{ $cssMisc.Permalink }}">

</head>
<body>
{{ block "main" . }}
{{ end }}
</body>
{{ $jsVendors := resources.Get "generated/js/chunk-vendors.js" | fingerprint }}
<script src="{{ $jsVendors.Permalink }}"></script>
{{ block "js" . }}
{{end}}
