* {
  position:relative;
  box-sizing:border-box;
  margin:0;
  padding:0;
  cursor:default;
}
html, body {
  width:100%;
  height:100%;
  position:static;
  overflow:visible !important;
}
[v-cloak] {
  display: none;
}
body {
  min-height:100%;
  font-family:Roboto;
  font-size:16px;
  color:#000;
  background:#fff;
  overflow:visible;
  overflow-x:hidden !important;
  overscroll-behavior-x:none;
}

iframe {
  border:none;
  display:block;
}
a, a * {
  text-decoration:none;
  cursor:pointer;
}
a:hover,
a:hover * {
  color:red;
}
h1 {
  font-size:50px;
  font-weight:800;
  line-height:1.2em;
  /*text-transform:uppercase;*/
}
h2 {
  font-size:28px;
}
h3 {
  font-size:22px;
  font-weight:400;
}

.button,
.input {
  display:inline-block;
  font-size:15px;
  font-weight:500;
  text-transform:uppercase;
  padding:10px 15px;
  background:transparent;
  border:#FF5C01 1px solid;
  border-radius:30px;
  box-shadow:rgba(255,92,1,0.2) 0 3px 6px;
  cursor:pointer;
}
.input {border-radius:8px;}
.input::placeholder {
  color:rgba(255,92,1,0.3);
}
.button:hover,
.button.active,
.button.primary {
  color:#fff;
  background:#FF5C01;
}
.button:active {
  background:red;
}
.button {
  margin:5px 5px 0 0;
}
.button:only-child {
  margin:0;
}
.button.large {
  font-size:18px;
  margin:10px 15px 0 0;
  padding:15px 30px;
}
.button.large:only-child {
  margin:0;
}

.input {
  display:block;
  outline:none;
  color:#FF5C01;
  text-transform:none;
}
.input:focus {
  box-shadow:rgba(255,92,1,0.4) 0 2px 8px;
}

.courts-list-linetabs{
  margin:0 -5%;
  padding:30px 5% 0 5%;
}
.line-tabs {
  display:inline-flex;
  color:#FF5C01;
  font-size:15px;
  font-weight:500;
}
.tab-unit {
  display:flex;
  align-items:center;
  padding:10px 15px;
  border:#FF5C01 1px solid;
}
.tab-unit.active {
  color:#fff;
  background:#FF5C01;
}
.tab-unit + .tab-unit {
  margin-left:-1px;
}
.tab-unit:first-child {
  border-radius:15px 0 0 15px;
}
.tab-unit:last-child {
  border-radius:0 15px 15px 0;
}
.tab-unit:only-child {
  border-radius:15px;
}

.tag-unit {
  display:inline-block;
  font-size:12px;
  margin:6px 6px 0 0;
  padding:2px 8px;
  background:#fff;
  border:rgba(255,92,1,0.4) 1px solid;
  border-radius:4px;
}
.tag-unit:hover {
  border:rgba(255,92,1,1) 1px solid;
}

.filter-wrp {
  box-shadow:rgba(0,0,0,0.15) 0 15px 30px;
  margin:0 -20px;
  padding:20px;
  border-radius:15px;
  /*  position:sticky;
    top:10px;
    background:#fff;
    z-index:1000;*/
}
.filter-wrp .input {
  width:100%;
}
.filter-table-sort {
  font-size:14px;
  margin:0 -20px -20px -20px;
  border-top:#EDEDED 1px solid;
}
.filter-table-sort .section {
  color:rgba(0,0,0,0.3);
  padding:10px 0 10px 30px;
}
.filter-t-s-arrow {
  display:inline-block;
  width:10px;
  height:10px;
  vert-align:middle;
  margin:0 0 0 5px;
  background-image: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg opacity='0.7'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M0.586885 3.22806L6.16254e-05 3.81488L3.81494 7.62976L7.62982 3.81488L7.04286 3.22792L3.81481 6.45598L0.586885 3.22806Z' fill='black'/%3E%3C/g%3E%3C/svg%3E%0A");
  background-size:100% 100%;
  opacity:0.5;
}
.filter-t-s-arrow.down {}
.filter-t-s-arrow.up {
  transform:rotate(180deg);
  margin-bottom:-2px;
}

.filter-table-sort .section:hover {
  color:rgba(0,0,0,0.7);
}
.filter-table-sort .section:hover .filter-t-s-arrow {
  opacity:1;
}

.filter-table-sort .section + .section {
  border-left:#EDEDED 1px solid;
}

.table-wrapper {
  overflow-x:auto;
}
.zbr-table {
  display:inline-table;
  min-width:100%;
  border-collapse:collapse;
}
.zbr-table td {
  vertical-align:top;
  padding:15px 0;
  padding-left:10px;
}
.zbr-table td:last-child {
  padding-right:10px;
}
.zbr-table td + td {padding-left:30px}
.zbr-table tr + tr td {
  border-top:rgba(255,92,1,0.3) 1px solid;
}
.zbr-table tr:hover td {
  background:rgba(0,0,0,0.05);
}
.zbr-table tr.fav td {
  background:rgba(255,92,1,0.1);
}
.zbr-table tr.fav:hover td {
  background:rgba(255,92,1,0.15);
}
.zbr-table-longtext {
  min-width:250px;
}


/* Layout */
.scene {padding:5% 5%;}
.homepage .scene {padding:5% 10%;}


.section {}
.inline-block {
  display:inline-block;
}
.flex-row {
  display:flex;
  flex-direction:row;
}
.flex-column {
  display:flex;
  flex-direction:column;
}
.flex-algn-itms-c {
  align-items:center;
}
.flex-algn-itms-strch {
  align-items:stretch;
}

.flex-shrink {
  flex-shrink:1;
}
.flex-noshrink {
  flex-shrink:0;
}
.flex-wrap {
  flex-wrap:wrap;
}
.flex-grow-all {
  flex-grow:9999;
}
.two-coll-wrapper {height:100%}
.two-coll-wrapper > .section {
  overflow-y:auto;
}
.two-coll-wrapper > .section + .section {
  border-left:rgba(255,92,1,0.3) 2px solid;
}
.scroll-x-auto {
  overflow-x:auto;
}

/* Text Options */
.txt-normal {font-weight:400;}
.txt-medium {font-weight:500;}
.txt-bold {font-weight:600;}
.txt-bolder {font-weight:800;}
.txt-italic {font-style:italic;}
.txt-uppercase {text-transform:uppercase;}
.txt-nottransform {text-transform:none;}
.txt-nowrap {white-space:nowrap}
.txt-underline:after {
  content:'';
  position:absolute;
  top:calc(100% - 0.2em);
  left:0;
  width:100%;
  height:1px;
  background:#FF5C01;
  opacity:0.3;
}

.txt-algn-l {text-align:left;}
.txt-algn-c {text-align:center;}
.txt-algn-r {text-align:right;}

.txt-size-14px {font-size:14px;}
.txt-size-16px {font-size:16px;}
.txt-size-18px {font-size:18px;}
.txt-size-24px {font-size:24px;}
.txt-size-34px {font-size:34px;}

.valgn-c {vertical-align:middle !important;}

/* Width */
.size-10 {width:10%;}
.size-20 {width:20%;}
.size-25 {width:25%;}
.size-30 {width:30%;}
.size-35 {width:35%;}
.size-40 {width:40%;}
.size-50 {width:50%;}
.size-60 {width:60%;}
.size-65 {width:65%;}
.size-70 {width:70%;}
.size-80 {width:80%;}
.size-90 {width:90%;}
.size-100 {width:100%;}

.size-32px {width:32px;}
.size-64px {width:64px;}

.height-100 {height:100%;}

.min-size-100px {min-width:100px;}
.min-size-200px {min-width:200px;}
.min-size-250px {min-width:250px;}
.min-size-300px {min-width:300px;}

/* Margin */
.mrgn-0 {margin:0;}

.mrgn-5px {margin:5px;}
.mrgn-10px {margin:10px;}
.mrgn-5prc {margin:5%;}
.mrgn-10prc {margin:10%;}

.mrgn-t-5px {margin-top:5px;}
.mrgn-t-10px {margin-top:10px;}
.mrgn-t-20px {margin-top:20px;}
.mrgn-t-30px {margin-top:30px;}
.mrgn-t-5prc {margin-top:5%;}
.mrgn-t-10prc {margin-top:10%;}

.mrgn-r-5px {margin-right:5px;}
.mrgn-r-10px {margin-right:10px;}
.mrgn-r-5prc {margin-right:5%;}
.mrgn-r-10prc {margin-right:10%;}

.mrgn-b-5px {margin-bottom:5px;}
.mrgn-b-10px {margin-bottom:10px;}
.mrgn-b-20px {margin-bottom:20px;}
.mrgn-b-30px {margin-bottom:30px;}
.mrgn-b-5prc {margin-bottom:5%;}
.mrgn-b-10prc {margin-bottom:10%;}

.mrgn-l-5px {margin-left:5px;}
.mrgn-l-10px {margin-left:10px;}
.mrgn-l-5prc {margin-left:5%;}
.mrgn-l-10prc {margin-left:10%;}


/* Padding */
.pdng-0 {padding:0;}
.pdng-10px {padding:10px;}
.pdng-30px {padding:30px;}
.pdng-50px {padding:50px;}
.pdng-5prc {padding:5%;}

.pdng-t-10px {padding-top:10px;}
.pdng-t-20px {padding-top:20px;}
.pdng-t-30px {padding-top:30px;}
.pdng-t-50px {padding-top:50px;}
.pdng-t-5prc {padding-top:5%;}
.pdng-t-10prc {padding-top:10%;}
.pdng-t-20prc {padding-top:20%;}

.pdng-r-10px {padding-right:10px;}
.pdng-r-20px {padding-right:20px;}
.pdng-r-30px {padding-right:30px;}
.pdng-r-50px {padding-right:50px;}
.pdng-r-2_5prc {padding-right:2.5%;}
.pdng-r-5prc {padding-right:5%;}

.pdng-b-10px {padding-bottom:10px;}
.pdng-b-20px {padding-bottom:20px;}
.pdng-b-30px {padding-bottom:30px;}
.pdng-b-50px {padding-bottom:50px;}
.pdng-b-5prc {padding-bottom:5%;}

.pdng-l-10px {padding-left:10px;}
.pdng-l-20px {padding-left:20px;}
.pdng-l-30px {padding-left:30px;}
.pdng-l-50px {padding-left:50px;}
.pdng-l-2_5prc {padding-left:2.5%;}
.pdng-l-5prc {padding-left:5%;}













/* Colors */
h1, a, .button, .txt-color-1 {color:#FF5C01;}
.txt-color-2 {color:rgba(0,0,0,1);}
.txt-color-3 {color:rgba(0,0,0,0.3);}


/* Components */
/* Promo header */
.zbr-home-promo {
  box-shadow:rgba(0,0,0,0.15) 0 15px 35px;
}
.zbr-home-promo.innerpages {
  padding-top:20px;
  padding-bottom:30px;
}
.zbr-home-promo.innerpages .zbr-header h1 {
  font-size:24px;
}
.zbr-home-promo.innerpages .zbr-header .zbr-h-logo {
  width:70px;
}
.hdr-nav-links {
  padding:20px 5%;
  margin:0 -5% -20px -5%;
  white-space:nowrap;
  overflow-x:auto;
}
.hdr-nav-l-spr {
  color:#C4C4C4;
  margin:0 5px;
}

/* Switcher */
.lang-swicher {
  display:inline-flex;
  flex-direction:row;
  align-items:center;
  padding:10px;
  background:rgba(0,0,0,0.05);
  border-radius:25px;
}
.lang-swicher {
  top:-10px;
}
.homepage .lang-swicher {top:-30px;}

.lang-swicher-button,
.lang-swicher-button img {
  width:24px;
  height:24px;
  cursor:pointer;
}
.lang-swicher-button {
  width:28px;
  height:28px;
  border:#fff 2px solid;
  border-radius:100%;
  box-shadow:rgba(0,0,0,0.15) 0 2px 4px;
  overflow:hidden;
}
.lang-swicher-button:hover {
  border-color:rgba(255,92,1,0.6)
}
.lang-swicher-button.active {
  opacity:0.3;
}
.lang-swicher-button + .lang-swicher-button {
  margin-left:15px;
}

/* Court of Law - view */
.court-info {
  box-shadow:rgba(0,0,0,0.15) 0 15px 60px;
  border-radius:30px;
  overflow:hidden;
}
.court-info .section + .section {
  border-left:rgba(255,92,1,0.2) 2px solid;
}
.court-info-footer {
  border-top:rgba(255,92,1,0.2) 2px solid;
}

/* Court of Law - list */
.courts-list-map-wrp {
  border-radius:30px;
  overflow:hidden;
  box-shadow:rgba(0,0,0,0.15) 0 30px 60px;
}
.courts-list {
  list-style:none;
}
.courts-list li {}
.courts-list li + li {
  margin-top:20px;
}


/* Judge units on home page */
.judge-unit {
  padding:20px;
  margin:20px;
  background:#fff;
  border-radius:15px;
  box-shadow:rgba(0,0,0,0.15) 0 15px 30px;
}
.judge-unit:hover {
  box-shadow:rgba(0,0,0,0.25) 0 20px 40px;
  z-index:1;
}
.judge-unit-photo {
  width:100%;
  padding-top:50%;
  padding-bottom:50%;
  /*background:#FF5C01;*/
  border-radius:100%;
  /*overflow:hidden;*/
}
.judge-unit .judge-unit-photo {
  margin:10px 0 20px 0;
}
.judge-unit-photo img,
.judge-unit-photo object {
  position:absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  border:#FF5C01 2px solid;
  border-radius:100%;
}
.judge-u-photo-icon {
  position:absolute;
  left:-3px;
  top:-3px;
  width:22px;
  height:22px;
  background:#FF5C01;
  z-index:1;
  border-radius:100%;
}
.judge-u-photo-icon img {
  top:5%;
  left:10%;
  width:80%;
  height:80%;
}

.judge-unit-court,
.judge-unit-position {
  font-size:14px;
  opacity:0.8;
  margin:15px 0;
}
.judge-unit-description {
  font-size:14px;
  border-top:#FF5C01 1px solid;
  margin:10px 0;
  opacity:0.8;
}

/* Stats on home page */
.stats-promo {
  border-radius:30px;
  box-shadow:rgba(0,0,0,0.20) 0 30px 60px;
}
.stats-promo-header {
  padding:30px;
  border-bottom:rgba(255,92,1,0.2) 2px solid;
}
.stats-promo-header a {
  font-size:22px;
  opacity:0.5;
}
.stats-promo-header a.active,
.stats-promo-header a:hover {
  opacity:1;
}
.stats-promo-header a + a {
  margin-left:15px;
}
.stats-promo h1 {
  font-size:60px;
  text-transform:initial;
}
.stats-promo-data {
  border-bottom:rgba(255,92,1,0.2) 2px solid;
}
.stats-promo-data .section {
  padding:50px 0 30px 0;
}
.stats-promo-data .section + .section {
  border-left:rgba(255,92,1,0.2) 2px solid;
}

/* Diagrams on home page */
.stats-promo-diagrams {
  display:flex;
  flex-direction:row;
  align-items:flex-end;
  justify-content:space-between;
  height:350px;
  padding:30px 50px 20px 50px;
  overflow-x:auto;
}
/*.stats-promo-diagrams:after {
  content:'M_D';
  opacity:0;
  white-space:nowrap;
  }*/
.stats-promo-dgrms-unit {
  width:auto;
  padding:50px 20px 20px 20px;
  border:transparent 1px solid;
  border-radius:15px;
}
.stats-promo-dgrms-unit:hover {
  background:#f7f7f7;
  border:#EFEFEF 1px solid;
}
.stats-promo-dgrms-u-name {
  text-align:center;
  padding-top:20px;
}
.stats-promo-dgrms-u-data {
  display:flex;
  flex-direction:row;
  align-items:flex-end;
  justify-content:center;
}
.stats-promo-dgrms-u-value {
  width:32px;
  height:auto;
  background:#C4C4C4;
}
.stats-promo-dgrms-u-value + .stats-promo-dgrms-u-value {
  margin-left:10px;
  background:#FF5C01;
}
.stats-promo-dgrms-u-v-count {
  position:absolute;
  left:0;
  bottom:100%;
  display:flex;
  flex-direction:column;
  align-items:center;
  width:100%;
  font-weight:500;
  white-space:nowrap;
  padding:0 0 10px 0;
  color:#FF5C01;
}

/*  Promo stats legend */
.stats-promo-info {
  position:absolute;
  top:0;
  left:30px;
  margin-top:30px;
  padding:25px 20px;
  background:#fff;
  box-shadow:rgba(0,0,0,0.15) 0 15px 60px;
  border-radius:15px;
}
.stats-promo-info .section + .section {
  padding-left:40px;
}
.stats-promo-i-mark {
  display:inline-block;
  width:28px;
  height:28px;
  vertical-align:middle;
  margin:-2px 5px 0 0;
  background:red;
}
.stats-promo-i-mark.gray {background:#C4C4C4;}
.stats-promo-i-mark.orange {background:#FF5C01;}


.judge-info-unit {
  margin:10px 0;
}
.judge-info-unit {}


.zbr-h-logo {
  display:inline-block;
  width:130px;
  height:auto;
}
.zbr-h-logo img {
  width:100%;
  height:auto;
}
.zbr-ftr {
  background:#FF5C01;
  color:#fff;
}
.zbr-ftr a {
  color:#fff;
}
.zbr-ftr a.txt-underline:after {
  background-color:#fff;
}
.zbr-ftr-links {}
.zbr-ftr-links a,
.zbr-ftr-links a img {
  display:inline-block;
  width:32px;
  height:32px;
}
.zbr-ftr-links a + a {
  margin-left:10px;
}
.zbr-f-logo {
  display:inline-block;
  width:150px;
}

/*   Burger Menu from JRM   */
#brgrbtn {
  position:absolute;
  width:0;
  height:0;
  opacity:0;
  z-index:-1;
}
.burger-button {
  position:absolute;
  top:50%;
  right:5%;
  display:inline-block;
  width:36px;
  height:36px;
  vertical-align:middle;
  margin-top:-18px;
  transition: all 0.2s ease-in;
  z-index:10;
}
.burger-button-line {
  position:absolute;
  width:30px;
  height:4px;
  background:#ff5c01;
  border-radius:10px;
  transition: all 0.3s ease-in;
}
.burger-button-line:first-child {
  left:3px;
  top:6px;
}
.burger-button-line:nth-child(2) {
  left:3px;
  top:16px;
}
.burger-button-line:last-child {
  left:3px;
  bottom:6px;
}
input#brgrbtn:checked + .burger-button,
.burger-button.close {
  transform:rotate(90deg);
}
input#brgrbtn:checked + .burger-button .burger-button-line:first-child,
.burger-button.close .burger-button-line:first-child {
  top: 16px;
  transform:rotate(-45deg);
  background:#fff;
}
input#brgrbtn:checked + .burger-button .burger-button-line:nth-child(2),
.burger-button.close .burger-button-line:nth-child(2) {
  opacity:0;
}
input#brgrbtn:checked + .burger-button .burger-button-line:last-child,
.burger-button.close .burger-button-line:last-child {
  bottom: 16px;
  transform:rotate(45deg);
  background:#fff;
}
.brgr-nav {
  position:fixed;
  top:0;
  right:-100%;
  width:65%;
  height:100%;
  padding:100px 5% 10% 5%;
  background:transparent;
  transition: all 0.35s ease-in;
  opacity:0;
  z-index:5;
}
.brgr-nav:after {
  content:'';
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(255, 92, 1, 0.8);
  backdrop-filter:blur(10px);
  z-index:-1;
}
.brgr-nav * {
  color:#fff;
}
input#brgrbtn:checked + label + .brgr-nav {
  right:0;
  opacity:1;
}
.brgr-nav-links .button {
  display:block;
  font-size:22px;
  text-transform:none;
  margin:15px 0;
  border-color:rgba(255,255,255,0.15);
}
.brgr-nav .lang-swicher {
  position:absolute;
  left:5%;
  top:2.49%;
  background:rgba(255,255,255,0.2);
}


.notdisplay {
  display:none !important;
}
.disabled {
  filter:grayscale(1);
  opacity:0.3 !important;
  cursor:not-allowed;
}
.cursor-pointer, .cursor-pointer * {cursor:pointer;}


@media (max-width: 820px) {
  @viewport {
    width:device-width;
  }
  @-ms-viewport {
    width:device-width;
  }

  .scene {padding:10% 5%;}
  .homepage .scene {padding:10% 5%;}


  .two-coll-wrapper {height:initial}
  .two-coll-wrapper > .section {overflow-y:initial;}
  .two-coll-wrapper > .section + .section {
    border:none;
  }
  .zbr-h-logo {width:70px;}
  .brgr-nav .zbr-ftr-links {
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    padding:10%;
  }
  .zbr-ftr-links a {
    margin-right:10px;
    margin-top:10px;
    opacity:0.7;
  }
  .zbr-ftr-links a + a {
    margin-left:0;
  }
  .table-wrapper {
    margin:0 -5%;
    padding:0 5%;
  }




  /* text */
  .mil-txt-algn-l {text-align:left;}
  .mil-txt-algn-c {text-align:center;}
  .mil-txt-algn-r {text-align:right;}



  /* Layout */
  .mil-flex-wrap {
    flex-wrap:wrap;
  }
  .mil-flex-row {
    display:flex;
    flex-direction:row;
  }
  .mil-flex-row-reverse {
    display:flex;
    flex-direction:row-reverse;
  }
  .mil-flex-column {
    display:flex;
    flex-direction:column;
  }
  .mil-flex-column-reserve {
    display:flex;
    flex-direction:column-reverse;
  }

  .mil-size-80 {width:80%;}
  .mil-size-90 {width:90%;}
  .mil-size-100 {width:100%;}

  .mil-height-250px {height:250px;}

  .mil-pdng-0 {padding:0;}
  .mil-pdng-10px {padding:10px;}
  .mil-pdng-20px {padding:20px;}
  .mil-pdng-t-10px {padding-top:10px;}
  .mil-pdng-t-20px {padding-top:20px;}
  .mil-pdng-t-30px {padding-top:30px;}
  .mil-pdng-t-50px {padding-top:50px;}
  .mil-pdng-t-60px {padding-top:60px;}

  .mil-pdng-b-50px {padding-bottom:50px;}
  .mil-pdng-b-60px {padding-bottom:60px !important;}



  /* Components adaptation */
  .mil-fix-header {
    position:fixed;
    top:0;
    left:0;
    padding:10px 5%;
    z-index:9;
  }
  .mil-fix-header:after {
    content:'';
    position:absolute;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background:rgba(255,255,255,0.9);
    backdrop-filter:blur(10px);
    z-index:-1;
  }

  .stats-promo-diagrams {
    padding:30px 10px 20px 10px;;
  }
  .stats-promo-data .section {
    padding:30px 0 15px 0;
  }
  .stats-promo h1 {
    font-size:50px;
  }
  .stats-promo-data .section + .section {
    border-left:none;
    border-top:rgba(255,92,1,0.2) 2px solid;
  }


  .mil-notdisplay {display:none;}
  .mil-show {display:block !important;}
  .mil-noborders {border:none !important;}
}
