<div class="scene zbr-home-promo innerpages mil-pdng-b-30px">
<!--    <div class="lang-swicher mil-notdisplay" style="top:-10px;">-->
<!--        <div class="lang-swicher-button"><img src="/imgs/icons/svg/flag-belarus.svg"></div>-->
<!--        <div class="lang-swicher-button"><img src="/imgs/icons/svg/flag-ukraine.svg"></div>-->
<!--        <div class="lang-swicher-button active"><img src="/imgs/icons/svg/flag-russia.svg"></div>-->
<!--    </div>-->
    <div>
        <div class="zbr-header flex-algn-itms-c flex-row mil-flex-column-reserve">
            <div class="section size-70 mil-size-100 mil-pdng-t-60px">
                <h1>
                    Граждан&shy;ский контроль
                    <br>
                    судебной системы
                </h1>
            </div>
            <div class="section size-30 txt-algn-r mil-size-100 mil-txt-algn-l mil-fix-header">
                <a class="zbr-h-logo cursor-pointer" href="/">
                    <img src="/imgs/icons/svg/zubr-h-logo.svg">
                </a>
                <input id="brgrbtn" class="notdisplay mil-show" type="checkbox">
                <label for="brgrbtn" class="notdisplay burger-button mil-show">
                    <div class="burger-button-line"></div>
                    <div class="burger-button-line"></div>
                    <div class="burger-button-line"></div>
                </label>
                <div class="brgr-nav notdisplay mil-show">

                    <div class="brgr-nav-links">
                        <a class="button size-100 txt-algn-c" href="/">Главная</a>
                        {{ if eq .Type "court"  }}
                        <a class="button size-100 txt-algn-c" href="/court">Суд</a>
                        <a class="button size-100 txt-algn-c" href="#">Район/область</a>
                        <a class="button size-100 txt-algn-c" >{{ .Param "name"}}</a>
                        {{ else }}
                        {{ end }}
                    </div>

                    <div class="zbr-ftr-links txt-algn-c">
                        {{ partial "links"}}
                    </div>
<!--                    <div class="lang-swicher">-->
<!--                        <div class="lang-swicher-button"><img src="/imgs/icons/svg/flag-belarus.svg"></div>-->
<!--                        <div class="lang-swicher-button"><img src="/imgs/icons/svg/flag-ukraine.svg"></div>-->
<!--                        <div class="lang-swicher-button active"><img src="/imgs/icons/svg/flag-russia.svg">-->
<!--                        </div>-->
<!--                    </div>-->
                </div>
            </div>
        </div>
    </div>
    <div class="hdr-nav-links">
        <a href="/">Главная</a>
        {{ if eq .Type "court"  }}
        <span class="hdr-nav-l-spr">/</span>
        <a href="/court">Суд</a>
        <span class="hdr-nav-l-spr">/</span>
        <a href="#">Район/область</a>
        <span class="hdr-nav-l-spr">/</span>
        <span>{{ .Param "name"}}</span>
        {{ else }}
        {{ end }}
    </div>
</div>
