<div class="scene zbr-home-promo innerpages mil-pdng-b-30px">
    <!--    <div class="lang-swicher mil-notdisplay" style="top:-10px;">-->
    <!--        <div class="lang-swicher-button"><img src="/imgs/icons/svg/flag-belarus.svg"></div>-->
    <!--        <div class="lang-swicher-button"><img src="/imgs/icons/svg/flag-ukraine.svg"></div>-->
    <!--        <div class="lang-swicher-button active"><img src="/imgs/icons/svg/flag-russia.svg"></div>-->
    <!--    </div>-->
    <div>
        {{ partial "mobile_nav"}}
    </div>
    <div class="hdr-nav-links">
        <a href="/">Главная</a>
        {{ if eq .Type "prosecutor" }}
            <span class="hdr-nav-l-spr">/</span>
            <a href="/prosecutor/">Прокуроры</a>
            {{if (.Param "full_name")}}
            <span class="hdr-nav-l-spr">/</span>
            <span>{{ .Param "full_name"}}</span>
            {{end}}
        {{end}}

        {{ if eq .Type "court" }}
            <span class="hdr-nav-l-spr">/</span>
            <a href="/court">Суды</a>
            {{if (.Param "name")}}
            <span class="hdr-nav-l-spr">/</span>
            <span>{{ .Param "region"}}</span>
            <span class="hdr-nav-l-spr">/</span>
            <span>{{ .Param "name"}}</span>
            {{end}}
        {{ else if eq .Type "judge" }}
            <span class="hdr-nav-l-spr">/</span>
            {{if and (.Param "court") (.Param "fullName")}}
            <a href="/court">Суды</a>
        {{else}}
            <a href="/judge">Судьи</a>
            {{end}}
            {{if (.Param "court")}}
            <span class="hdr-nav-l-spr">/</span>
            <a href='/court/{{.Param "court.id"}}'>{{ .Param "court.name"}}</a>
            {{end}}
            {{if (.Param "fullName")}}
            <span class="hdr-nav-l-spr">/</span>
            <span>{{ .Param "fullName"}}</span>
            {{end}}
        {{ end }}
    </div>
</div>
