<a class="cursor-pointer" href="https://www.youtube.com/channel/UC5sPqti8bakMgz5T5u6_o6A">
    <img src="/imgs/icons/yt.png" alt="YouTube">
</a>
<a class="cursor-pointer" href="https://www.facebook.com/zubrBY">
    <img src="/imgs/icons/fb.png" alt="Facebook">
</a>
<a class="cursor-pointer" href="https://www.instagram.com/zubr_in/">
    <img src="/imgs/icons/in.png" alt="Instagram">
</a>
<a class="cursor-pointer" href="https://ok.ru/zubrblr">
    <img src="/imgs/icons/ok.png" alt="OK">
</a>
<a class="cursor-pointer" href="https://t.me/zubr_in">
    <img src="/imgs/icons/tg.png" alt="Telegram">
</a>
<a class="cursor-pointer" href="https://vk.com/zubrblr">
    <img src="/imgs/icons/vk.png" alt="VK">
</a>
