{{ define "main" }}
<div id="app">
    <div class="scene zbr-home-promo mil-pdng-b-60px">
        <!--    <div class="lang-swicher mil-notdisplay" style="top:-30px;">-->
        <!--        <div class="lang-swicher-button">-->
        <!--            <img src="imgs/icons/svg/flag-belarus.svg">-->
        <!--        </div>-->
        <!--        <div class="lang-swicher-button"><img src="imgs/icons/svg/flag-ukraine.svg">-->
        <!--        </div>-->
        <!--        <div class="lang-swicher-button active"><img src="imgs/icons/svg/flag-russia.svg">-->
        <!--        </div>-->
        <!--    </div>-->
        <div>
            {{ partial "mobile_nav"}}
            <div class="pdng-t-30px">
                <a class="button large" href="/judge">Судьи</a>
                <a class="button large" href="/court">Суды</a>
                <a class="button large active" href="https://t.me/zubr_watch_bot">Отправить данные</a>
            </div>
        </div>
        <div class="flex-row">
            <div class="inline-notice mrgn-t-20px min-size-300px">
                <div class="section">
                    <p>
                        Если вас задержали в связи с протестами, заполните форму проекта
                        <a href="https://www.23-34.net/" class="txt-underline"><b>23.34</b></a>
                        и мы получим данные по судьям, автоматически.
                    </p>
                    <br>
                    <span>
                        Информацию о политзаключенных можно получить на
                        <a class="txt-underline" href="https://dissidentby.com/">
                            <b>dissidentby.com</b>
                        </a>
                    </span>
                </div>
            </div>
        </div>
        <div class="flex-row scroll-x-auto" v-if="trials && trials.length > 0" v-cloak>
            <div class="section size-75 pdng-t-20px">
                <div style="font-size: 20px">
                    <strong>Ближайшие слушания</strong> (<a href="/court">Расписание</a>):
                </div>
                <div class="pdng-t-15px" style="font-size: 19px">
                    <div v-for="trial of trials" :key="trial.id" v-cloak>
                        {{ safeHTML `
                        <a :href="trial.court ? '/court/' + trial.house.id : '#'">
                            <el-card class="trial-card mrgn-l-5px" shadow="always"
                                     style="min-width:550px;min-height: 120px">
                                <h4>{{trial.timestamp}}
                                    <template v-if="trial.house">
                                        - <a :href="'/court/' + trial.house.id"> {{trial.house.name}}</a>
                                    </template>
                                </h4>
                                <p>{{trial.person}}</p>
                                <template v-if="trial.comment">{{trial.comment}}</template>
                                <template v-else>&nbsp;</template>
                            </el-card>
                        </a>
                        `}}
                    </div>
                </div>

            </div>
        </div>


        <div class="pdng-t-50px">
            <h2 class="txt-medium">
                Проект &laquo;Гражданский контроль судебной системы&raquo; создан командой <a
                    class="txt-underline txt-bolder" href="https://zubr.in/elections/about">ZUBR</a>
                , при экспертной поддержке правозащитной организации <a class="txt-underline txt-bolder"
                                                                        href="https://humanconstanta.by/">Human
                Constanta</a>.
                Наша цель - показать работу судебной системы Республики Беларусь и сделать ее максимально прозрачной.
            </h2>
        </div>
        <div class="flex-row pdng-t-50px mil-flex-column ">
            <div class="section size-50 pdng-r-2_5prc mil-size-100 mil-pdng-0">
                <h3>
                <span class="txt-medium txt-color-1">
                    Вся информация, используемая в проекте, получена из открытых источников
                </span> либо от потерпевших в результате произвола работников репрессивного аппарата.
                    В связи с тем, что информация по судьям является практически закрытой,
                    мы будем благодарны любым дополнительным данным как о судах, так и о судьях.
                </h3>
            </div>
            <div class="section size-50 pdng-l-2_5prc mil-size-100 mil-pdng-0 mil-pdng-t-30px ">
                <h3>
                <span class="txt-medium txt-color-1">
                    Своими историями и опытом взаимодействия с ними вы можете поделиться</span> как через нашего бота в
                    <a class="txt-underline" href="https://t.me/zubr_watch_bot">Телеграме</a>,
                    так и через систему комментирования на
                    <a class="txt-underline" href="/court">странице суда</a> или конкретного
                    <a class="txt-underline" href="/judge">судьи</a>.
                    С развитием проекта можно будет видеть статистику как по каждому суду, так и судье в отдельности.
                </h3>
            </div>
        </div>
    </div>
</div>

{{partial "footer"}}
{{ end }}

{{ define "assets"}}
<style>
    .trial-card {
        float: left;
        min-width: 200px
    }

    .el-card {
        background-color: #f7f7f7 !important;
    }
</style>
{{ .Scratch.Set "entry" "index" }}
{{ partial "assets" . }}
{{ end }}

{{ define "class_body"}}
class="homepage"
{{end}}
