{{ define "main" }}
<div class="scene zbr-home-promo mil-pdng-b-60px">
    <!--    <div class="lang-swicher mil-notdisplay" style="top:-30px;">-->
    <!--        <div class="lang-swicher-button">-->
    <!--            <img src="imgs/icons/svg/flag-belarus.svg">-->
    <!--        </div>-->
    <!--        <div class="lang-swicher-button"><img src="imgs/icons/svg/flag-ukraine.svg">-->
    <!--        </div>-->
    <!--        <div class="lang-swicher-button active"><img src="imgs/icons/svg/flag-russia.svg">-->
    <!--        </div>-->
    <!--    </div>-->
    <div>
        <div class="zbr-header flex-algn-itms-c flex-row mil-flex-column-reserve">
            <div class="section size-70 mil-size-100 mil-pdng-t-50px">
                <h1>
                    ГРАЖДАН&shy;СКИЙ КОНТРОЛЬ
                    <br>
                    СУДЕБНОЙ СИСТЕМЫ
                </h1>
            </div>
            <div class="section size-30 txt-algn-r mil-size-100 mil-txt-algn-l mil-fix-header">
                <a class="zbr-h-logo cursor-pointer" href="#">
                    <img src="imgs/icons/svg/zubr-h-logo.svg">
                </a>
                <input id="brgrbtn" class="notdisplay mil-show" type="checkbox">
                <label for="brgrbtn" class="notdisplay burger-button mil-show">
                    <div class="burger-button-line"></div>
                    <div class="burger-button-line"></div>
                    <div class="burger-button-line"></div>
                </label>
                <div class="brgr-nav notdisplay mil-show">
                    <div class="brgr-nav-links">
                        <a class="button size-100 txt-algn-c" href="">Суды</a>
                        <a class="button size-100 txt-algn-c" href="">Судья</a>
                        <a class="button size-100 txt-algn-c" href="">О проекте</a>
                    </div>
                    <div class="zbr-ftr-links txt-algn-c">
                        <a class="cursor-pointer" href="#"><img src="imgs/icons/yt.png" alt="YouTube"></a>
                        <a class="cursor-pointer" href="#"><img src="imgs/icons/fb.png" alt="Facebook"></a>
                        <a class="cursor-pointer" href="#"><img src="imgs/icons/in.png" alt="Instagram"></a>
                        <a class="cursor-pointer" href="#"><img src="imgs/icons/ok.png" alt="OK"></a>
                        <a class="cursor-pointer" href="#"><img src="imgs/icons/tg.png" alt="Telegram"></a>
                        <a class="cursor-pointer" href="#"><img src="imgs/icons/vk.png" alt="VK"></a>
                    </div>
                    <div class="lang-swicher">
                        <div class="lang-swicher-button"><img src="imgs/icons/svg/flag-belarus.svg"></div>
                        <div class="lang-swicher-button"><img src="imgs/icons/svg/flag-ukraine.svg"></div>
                        <div class="lang-swicher-button active"><img src="imgs/icons/svg/flag-russia.svg"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pdng-t-30px">
            <a class="button large" href="/judge">Судьи</a>
            <a class="button large" href="/court">Суды</a>
        </div>
    </div>
    <div class="pdng-t-50px">
        <h2 class="txt-medium">
            Проект &laquo;Гражданский контроль судебной системы&raquo; создан командой <a class="txt-underline txt-bolder" href="">ZUBR</a>.
            Мы хотим показать обществу масштабы системы, созданной в Республике Беларусь,
            которая должна была защищать и контролировать соблюдение закона, а стала карательным
            органом в руках правящей группировки.
        </h2>
    </div>
    <div class="flex-row pdng-t-50px mil-flex-column ">
        <div class="section size-50 pdng-r-2_5prc mil-size-100 mil-pdng-0">
            <h3>
                <span class="txt-medium txt-color-1">
                    Вся информация, используемая в проекте, получена из открытых источников
                </span> либо от потерпевших в результате произвола работников репрессивного аппарата.
                В связи с тем, что информация по судьям является практически закрытой,
                мы будем благодарны любым дополнительным данным как о судах, так и о судьях.
            </h3>
        </div>
        <div class="section size-50 pdng-l-2_5prc mil-size-100 mil-pdng-0 mil-pdng-t-30px ">
            <h3>
                <span class="txt-medium txt-color-1">
                    Своими историями и опытом взаимодействия с ними вы можете поделиться</span> как через нашего бота в
                <a class="txt-underline" href="https://t.me/zubr_watch_bot">Телеграмме</a>,
                так и через систему комментирования на
                <a class="txt-underline" href="/court">странице суда</a> или конкретного
                <a class="txt-underline" href="/judge">судьи</a>.
                С развитием проекта можно будет видеть статистику как по каждому суду, так и судье в отдельности.
            </h3>
        </div>
    </div>
</div>
<div class="scene">
    <div class="pdng-5prc">
        <h2 class="txt-algn-c txt-uppercase txt-color-1">
            Наиболее отличившиеся судьи
        </h2>
    </div>
    <div class="flex-row pdng-t-20px mil-flex-column">
        {{ range $index, $element := $.Site.Data.judges }}
        {{if in (slice "1293" "1218" "1253" "1166" "1416") $index}}
        <div class="section size-20 mil-size-100 mil-pdng-0">
            <div class="judge-unit pdng-5prc txt-algn-c">
                <div class="judge-unit-photo">
                    <img alt="photo" src="https://cdn.zubr.ws/courts/judges/{{$element.id}}.jpg">
                </div>
                <h3 class="judge-unit-name txt-color-1">
                    {{$element.fullName}}
                </h3>
                <div class="judge-unit-court">
                    {{if $element.court}}
                    {{$element.court.name}}
                    {{end}}
                </div>
                <div class="judge-unit-position">
                    Судья
                </div>
                {{ $length := len $element.tags}}
                {{ if (gt $length 0)}}
                <div class="tags-wrp txt-algn-l">
                    {{ range $index, $element := $element.tags}}
                    <a class="tag-unit" href="#">{{index $.Site.Data.translations $element}}</a>
                    {{end}}
                </div>
                {{end}}
                <p class="judge-unit-description pdng-t-20px">
                    Выдано штрафов на <span id="{{$element.id}}_fines_rub"></span> руб.,
                    суток адм. ареста - <span id="{{$element.id}}_arrests"></span>
                </p>
                <div class="pdng-t-20px">
                    <a class="button size-100" href='/judge/{{$element.id}}'>Подробнее</a>
                </div>
            </div>
        </div>
        {{end}}
        {{end}}
    </div>
</div>
<div class="scene">
    <div>
        <div class="stats-promo">
            <div class="stats-promo-header txt-bold">
                <h2 class="txt-algn-c txt-uppercase txt-color-1">
                    Статистика
                </h2>
<!--                <a class="txt-underline">2019</a>-->
<!--                <a class="txt-underline active">2020</a>-->
<!--                <a class="txt-underline disabled">2021</a>-->
            </div>

            <div class="stats-promo-data flex-row flex-algn-itms-c mil-flex-column">
                <div class="section size-50 txt-algn-c mil-size-100">
                    <h1>
                        1 234 872 р.
                    </h1>
                    <h3>
                        45 736 базовых величин
                    </h3>
                </div>
                <div class="section size-50 txt-algn-c mil-size-100">
                    <h1>
                        28 527
                    </h1>
                    <h3>
                        суток административного ареста
                    </h3>
                </div>
            </div>
            <div class="stats-promo-diagrams-wrp">
                <div class="stats-promo-diagrams">
                    <div class="stats-promo-dgrms-unit">
                        <div class="stats-promo-dgrms-u-data">
                            <div style="height:11px;" class="stats-promo-dgrms-u-value">
                                <div class="stats-promo-dgrms-u-v-count">
                                    <div>
                                        66
                                    </div>
                                </div>
                            </div>
                            <div style="height:35px;" class="stats-promo-dgrms-u-value">
                                <div class="stats-promo-dgrms-u-v-count">
                                    <div>
                                        243
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="stats-promo-dgrms-u-name">
                            Брестская
                        </div>
                    </div>
                    <div class="stats-promo-dgrms-unit">
                        <div class="stats-promo-dgrms-u-data">
                            <div style="height:9px;" class="stats-promo-dgrms-u-value">
                                <div class="stats-promo-dgrms-u-v-count">
                                    <div>
                                        20
                                    </div>
                                </div>
                            </div>
                            <div style="height:38px;" class="stats-promo-dgrms-u-value">
                                <div class="stats-promo-dgrms-u-v-count">
                                    <div>
                                        186
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="stats-promo-dgrms-u-name">
                            Витебская
                        </div>
                    </div>
                    <div class="stats-promo-dgrms-unit">
                        <div class="stats-promo-dgrms-u-data">
                            <div style="height:5px;" class="stats-promo-dgrms-u-value">
                                <div class="stats-promo-dgrms-u-v-count">
                                    <div>
                                        4
                                    </div>
                                </div>
                            </div>
                            <div style="height:43px;" class="stats-promo-dgrms-u-value">
                                <div class="stats-promo-dgrms-u-v-count">
                                    <div>
                                        245
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="stats-promo-dgrms-u-name">
                            Гомельская
                        </div>
                    </div>
                    <div class="stats-promo-dgrms-unit">
                        <div class="stats-promo-dgrms-u-data">
                            <div style="height:5px;" class="stats-promo-dgrms-u-value">
                                <div class="stats-promo-dgrms-u-v-count">
                                    <div>
                                        12
                                    </div>
                                </div>
                            </div>
                            <div style="height:45px;" class="stats-promo-dgrms-u-value">
                                <div class="stats-promo-dgrms-u-v-count">
                                    <div>
                                        102
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="stats-promo-dgrms-u-name">
                            Гродненская
                        </div>
                    </div>
                    <div class="stats-promo-dgrms-unit">
                        <div class="stats-promo-dgrms-u-data">
                            <div style="height:10px;" class="stats-promo-dgrms-u-value">
                                <div class="stats-promo-dgrms-u-v-count">
                                    <div>
                                        28
                                    </div>
                                </div>
                            </div>
                            <div style="height:115px;" class="stats-promo-dgrms-u-value">
                                <div class="stats-promo-dgrms-u-v-count">
                                    <div>
                                        1197
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="stats-promo-dgrms-u-name">
                            Минская
                        </div>
                    </div>
                    <div class="stats-promo-dgrms-unit">
                        <div class="stats-promo-dgrms-u-data">
                            <div style="height:15px;" class="stats-promo-dgrms-u-value">
                                <div class="stats-promo-dgrms-u-v-count">
                                    <div>
                                        3
                                    </div>
                                </div>
                            </div>
                            <div style="height:55px;" class="stats-promo-dgrms-u-value">
                                <div class="stats-promo-dgrms-u-v-count">
                                    <div>
                                        331
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="stats-promo-dgrms-u-name">
                            Могилевская
                        </div>
                    </div>
                    <div class="stats-promo-dgrms-unit">
                        <div class="stats-promo-dgrms-u-data">
                            <div style="height:23px;" class="stats-promo-dgrms-u-value">
                                <div class="stats-promo-dgrms-u-v-count">
                                    <div>
                                        157
                                    </div>
                                </div>
                            </div>
                            <div style="height:200px;" class="stats-promo-dgrms-u-value">
                                <div class="stats-promo-dgrms-u-v-count">
                                    <div>
                                        2 628
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="stats-promo-dgrms-u-name">
                            Минск
                        </div>
                    </div>
                </div>
                <div class="flex-row stats-promo-info txt-bold">
                    <div class="section">
                        <div class="stats-promo-i-mark gray"></div>
                        2019
                    </div>
                    <div class="section">
                        <div class="stats-promo-i-mark orange"></div>
                        2020
                    </div>
                    <div class="section" style="padding-top: 2px">
                        <span >Количество решений</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{{partial "footer"}}
{{ end }}
{{ define "js"}}
{{ $jsVendor1 := resources.Get "generated/js/chunk-index-vendors.js" | fingerprint }}
<script src="{{ $jsVendor1.Permalink }}"></script>
{{ $jsVendor := resources.Get "generated/js/index.js" | fingerprint }}
<script src="{{ $jsVendor.Permalink }}"></script>
{{end}}
{{ define "class_body"}}
class="homepage"
{{end}}
