{{ define "main" }}
{{partial "header" . }}
<div id="app">
    <judges></judges>
</div>
{{partial "footer"}}
{{ end }}
{{ define "js"}}
{{ $jsVendor := resources.Get "generated/js/chunk-judges-vendors.js" | fingerprint }}
<script src="{{ $jsVendor.Permalink }}"></script>
{{ $jsCurrent := resources.Get "generated/js/judges.js" | fingerprint }}
<script src="{{ $jsCurrent.Permalink }}"></script>

{{ $cssVendor := resources.Get "generated/css/judges.css" | fingerprint }}
<link rel="stylesheet" href="{{$cssVendor.Permalink}}"/>

<link rel="stylesheet" href="/fonts/element.css"/>
{{end}}

