{{ define "main" }}
<div class="two-coll-wrapper flex-row mil-flex-column" id="app">
    <div class="section size-70 mil-size-100">
        {{ partial "header" . }}
        <div class="scene flex-row mil-flex-column">
            <div class="section size-30 pdng-r-50px mil-size-100 mil-pdng-20px">
                <div class="judge-unit-photo">
                    <object data='https://cdn.zubr.ws/courts/judges/{{$.Param "id"}}.jpg' type="image/jpeg">
                        <img alt="photo" src="/imgs/icons/svg/user-gray.svg">
                    </object>
                </div>
            </div>
            <div class="section size-70 mil-size-100">
                <h1 class="txt-size-34px txt-nottransform">
                    {{ $.Param "fullName"}}
                </h1>
                {{ if $.Param "court"}}
                <div class="judge-info-unit pdng-t-10px">
                    <div class="judge-info-unit-name txt-color-1">
                        Суд:
                    </div>
                    <div class="judge-info-unit-desc">
                        {{ .Param "court.name" }}
                    </div>
                </div>
                <div class="judge-info-unit">
                    <div class="judge-info-unit-name txt-color-1">
                        Должность:
                    </div>
                    <div class="judge-info-unit-desc">
                        {{ .Param "court.position" }}
                    </div>
                </div>
                <div class="judge-info-unit">
                    <div class="judge-info-unit-name txt-color-1">
                        Назначение:
                    </div>
                    <div class="judge-info-unit-desc">
                        {{ .Param "court.description" }}
                    </div>
                </div>
                {{ end }}
                <div class="judge-info-unit">
                    <ul>
                        {{ $collection := .Param "career"}}
                        {{ range $index, $element := $collection}}

                        {{if and (eq $element.type "appointed") (gt $index 0)}}
                        <li>
                            Назначен(а) с {{$element.timestamp}}
                            {{if eq $element.termType "indefinitely"}}
                            , бессрочно
                            {{else}}
                            , на срок {{$element.term}} лет
                            {{end}}
                        </li>
                        {{else if eq $element.type "released"}}
                        <li>Освобожден(а) с {{$element.timestamp}}, {{$element.court.name}}</li>
                        {{end}}
                        {{end}}
                    </ul>
                </div>
                <!--                <div class="judge-info-unit">-->
                <!--                    <div class="judge-info-unit-name txt-color-1">-->
                <!--                        Контакты:-->
                <!--                    </div>-->
                <!--                    <div class="judge-info-unit-desc">-->
                <!--                        +37529 000 00 00-->
                <!--                    </div>-->
                <!--                </div>-->
            </div>
        </div>
        <decisions :judge='{{.Param "id"}}'></decisions>
        {{ partial "footer"}}
    </div>
    {{ partial "disqus"}}
</div>
{{ end }}
{{ define "js"}}
<script>
    var id = '{{.Param "id"}}';
</script>
{{ $jsVendor := resources.Get "generated/js/chunk-judge-vendors.js" | fingerprint }}
<script src="{{ $jsVendor.Permalink }}"></script>
{{ $jsCurrent := resources.Get "generated/js/judge.js" | fingerprint }}
<script src="{{ $jsCurrent.Permalink }}"></script>
{{end}}

