{{ define "main" }}
<div class="two-coll-wrapper flex-row mil-flex-column" id="app">
    <div class="section size-70 mil-size-100">
        <div class="scene zbr-home-promo innerpages mil-pdng-b-30px">
            <div class="lang-swicher mil-notdisplay" style="top:-10px;">
                <div class="lang-swicher-button"><img src="/imgs/icons/svg/flag-belarus.svg"></div>
                <div class="lang-swicher-button"><img src="/imgs/icons/svg/flag-ukraine.svg"></div>
                <div class="lang-swicher-button active"><img src="/imgs/icons/svg/flag-russia.svg"></div>
            </div>
            <div>
                <div class="zbr-header flex-algn-itms-c flex-row mil-flex-column-reserve">
                    <div class="section size-70 mil-size-100 mil-pdng-t-60px">
                        <h1>
                            Граждан&shy;ский контроль
                            <br>
                            судебной системы
                        </h1>
                    </div>
                    <div class="section size-30 txt-algn-r mil-size-100 mil-txt-algn-l mil-fix-header">
                        <a class="zbr-h-logo cursor-pointer" href="/">
                            <img src="/imgs/icons/svg/zubr-h-logo.svg">
                        </a>
                        <input id="brgrbtn" class="notdisplay mil-show" type="checkbox">
                        <label for="brgrbtn" class="notdisplay burger-button mil-show">
                            <div class="burger-button-line"></div>
                            <div class="burger-button-line"></div>
                            <div class="burger-button-line"></div>
                        </label>
                        <div class="brgr-nav notdisplay mil-show">
                            <div class="brgr-nav-links">
                                <a class="button size-100 txt-algn-c" href="/court">Суды</a>
                                <a class="button size-100 txt-algn-c" href="">Судья</a>
                                <a class="button size-100 txt-algn-c" href="">О проекте</a>
                            </div>
                            <div class="zbr-ftr-links txt-algn-c">
                                <a class="cursor-pointer" href="#"><img src="/imgs/icons/yt.png" alt="YouTube"></a>
                                <a class="cursor-pointer" href="#"><img src="/imgs/icons/fb.png" alt="Facebook"></a>
                                <a class="cursor-pointer" href="#"><img src="/imgs/icons/in.png" alt="Instagram"></a>
                                <a class="cursor-pointer" href="#"><img src="/imgs/icons/ok.png" alt="OK"></a>
                                <a class="cursor-pointer" href="#"><img src="/imgs/icons/tg.png" alt="Telegram"></a>
                                <a class="cursor-pointer" href="#"><img src="/imgs/icons/vk.png" alt="VK"></a>
                            </div>
                            <div class="lang-swicher">
                                <div class="lang-swicher-button"><img src="/imgs/icons/svg/flag-belarus.svg"></div>
                                <div class="lang-swicher-button"><img src="/imgs/icons/svg/flag-ukraine.svg"></div>
                                <div class="lang-swicher-button active"><img src="/imgs/icons/svg/flag-russia.svg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="hdr-nav-links">
                <a href="/court">Суды</a>
                <span class="hdr-nav-l-spr">/</span>
                <a href="#">Минск</a>
                <span class="hdr-nav-l-spr">/</span>
                <a href="#">Суд Первомайского Района</a>
                <span class="hdr-nav-l-spr">/</span>
                <span>Судейка Судья Судеевна</span>
            </div>
        </div>
        <div class="scene flex-row mil-flex-column">
            <div class="section size-30 pdng-r-50px mil-size-100 mil-pdng-20px">
                <div class="judge-unit-photo">
                    <img src="/imgs/icons/svg/user-gray.svg">
                </div>
            </div>
            <div class="section size-70 mil-size-100">
                <h1 class="txt-size-34px txt-nottransform">
                    {{ $.Param "full_name"}}
                </h1>
                <div class="judge-info-unit pdng-t-10px">
                    <div class="judge-info-unit-name txt-color-1">
                        Название суда:
                    </div>
                    <div class="judge-info-unit-desc">
                        Суд Первомайского Района
                    </div>
                </div>
                <div class="judge-info-unit">
                    <div class="judge-info-unit-name txt-color-1">
                        Должность:
                    </div>
                    <div class="judge-info-unit-desc">
                        Старший судья
                    </div>
                </div>
                <div class="judge-info-unit">
                    <div class="judge-info-unit-name txt-color-1">
                        Дата назначения:
                    </div>
                    <div class="judge-info-unit-desc">
                        10.11.2010
                    </div>
                </div>
                <div class="judge-info-unit">
                    <div class="judge-info-unit-name txt-color-1">
                        Контакты:
                    </div>
                    <div class="judge-info-unit-desc">
                        +37529 000 00 00
                    </div>
                </div>
            </div>
        </div>
        <decisions :judge='{{.Param "id"}}'></decisions>
    </div>
    <div class="section size-30 mil-size-100" style="background:#EFEFEF">
        <div id="disqus_thread"></div>
        <script>

            /**
             *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
             *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
            /*
            var disqus_config = function () {
            this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
            };
            */
            (function() { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://zubr-court.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    </div>
    {{ $jsCurrent := resources.Get "generated/js/judge.js" | fingerprint }}
    <script src="{{ $jsCurrent.Permalink }}"></script>
</div>
{{ end }}


