{{ define "main" }}
<div class="two-coll-wrapper flex-row mil-flex-column" id="app">
    <div class="section size-70 mil-size-100">
        {{ partial "header"}}
        <div class="scene flex-row mil-flex-column">
            <div class="section size-30 pdng-r-50px mil-size-100 mil-pdng-20px">
                <div class="judge-unit-photo">
                    <object data='https://cdn.zubr.ws/courts/judges/{{$.Param "full_name"}}.jpg'  type="image/jpeg">
                        <img alt="photo" src="/imgs/icons/svg/user-gray.svg">
                    </object>
                </div>
            </div>
            <div class="section size-70 mil-size-100">
                <h1 class="txt-size-34px txt-nottransform">
                    {{ $.Param "full_name"}}
                </h1>
                <div class="judge-info-unit pdng-t-10px">
                    <div class="judge-info-unit-name txt-color-1">
                        Название суда:
                    </div>
                    <div class="judge-info-unit-desc">
                        Суд Первомайского Района
                    </div>
                </div>
                <div class="judge-info-unit">
                    <div class="judge-info-unit-name txt-color-1">
                        Должность:
                    </div>
                    <div class="judge-info-unit-desc">
                        Старший судья
                    </div>
                </div>
                <div class="judge-info-unit">
                    <div class="judge-info-unit-name txt-color-1">
                        Дата назначения:
                    </div>
                    <div class="judge-info-unit-desc">
                        10.11.2010
                    </div>
                </div>
                <div class="judge-info-unit">
                    <div class="judge-info-unit-name txt-color-1">
                        Контакты:
                    </div>
                    <div class="judge-info-unit-desc">
                        +37529 000 00 00
                    </div>
                </div>
            </div>
        </div>
        <decisions :judge='{{.Param "id"}}'></decisions>
        {{ partial "footer"}}
    </div>
    {{ partial "disqus"}}
</div>
{{ end }}
{{ define "js"}}
{{ $jsCurrent := resources.Get "generated/js/judge.js" | fingerprint }}
<script src="{{ $jsCurrent.Permalink }}"></script>
{{end}}

