{{ define "main" }}
{{partial "header" . }}

<div id="app" v-cloak>
    <div class="section pdng-t-40px">
        <h1 class="txt-color-1 txt-size-34px txt-algn-c">
            Суды Беларуси
        </h1>
        <div class="courts-list-linetabs txt-algn-c scroll-x-auto txt-nowrap">
            <div class="inline-block">
                <div class="line-tabs" >
                    <a :class="{'tab-unit': true, 'active': activeTab === region}"
                       @click="changeTab(region)"
                       v-for="(region, key) of map"
                       :key="region">
                        <div>
                            {{ safeHTML `
                            {{ regions[region] }}
                            ` }}
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="section pdng-t-40px">
        <div class="flex-row size-50 mil-size-100 center-column">
            <div class="section min-size-150px pdng-l-5prc">
                {{ $range := slice "07" "06" "05" "04" "03" "02" "01"}}
                {{ range $region := $range}}
                <div v-show="activeTab === '{{$region}}'" class="section">
                    <h2>
                        {{index $.Site.Data.regions $region}}
                    </h2>
                    <div class="flex-row mil-flex-column">
                        <div class="section">
                            <ul class="courts-list mrgn-t-30px">
                                {{ range $index, $element := $.Site.Data.courts }}
                                {{if eq (slicestr $index 0 2) $region}}
                                <li>
                                    <h3>
                                        <a class="txt-underline txt-size-18px" href='/court/{{$index}}'>{{$element.name}}</a>
                                        <div class="txt-size-14px txt-color-2">{{$element.address}}</div>
                                        <!-- <div class="txt-size-14px txt-color-3">0 р. / 0 базовых велечин</div>-->
                                        <!-- <div class="txt-size-14px txt-color-3">0 Cуток адм. ареста</div>-->
                                    </h3>
                                </li>
                                {{end}}
                                {{end}}
                            </ul>
                        </div>
                    </div>
                </div>

                {{end}}
            </div>
            <div class="section min-size-200px pdng-l-10px">
                <trials :initial-region="activeTab"
                        ref="trials"></trials>
            </div>

        </div>
    </div>
</div>
{{ partial "footer" }}
{{ end }}
{{ define "assets"}}
<style>
    @media (max-width: 820px) {
        .v3dp__popout {
            left: -75px !important;
        }
    }
</style>
<script>
    var regions = {{ $.Site.Data.regions | jsonify  | safeJS}};
</script>
{{ .Scratch.Set "entry" "court_list" }}
{{ partial "assets" . }}
{{end}}
