{{ define "main" }}
<div class="flex-row mil-flex-column" id="app">
    <div class="section size-100 mil-size-100">
        {{ partial "header" . }}
        <div class="scene pdng-b-10px pdng-t-40px">
            <div class="court-info flex-row flex-algn-itms-strch mil-flex-column-reserve">
                <div class="section size-50 pdng-30px mil-size-100">
                    <h1 class="txt-size-34px txt-nottransform">
                        {{ .Param "name" }}
                    </h1>
                    <div class="court-info-wrp pdng-t-20px pdng-b-20px">
                        <div class="judge-info-unit txt-inline">
                            <div class="judge-info-unit-name txt-color-1">
                                Код:
                            </div>
                            <div class="info-unit-desc">
                                {{ .Param "id" }}
                            </div>
                        </div>
                        <div class="judge-info-unit">
                            <div class="judge-info-unit-name txt-color-1">
                                Адрес:
                            </div>
                            <div class="info-unit-desc">
                                {{ .Param "address" }}
                            </div>
                        </div>
                        <div class="judge-info-unit">
                            <div class="judge-info-unit-name txt-color-1">
                                Телефон(ы):
                            </div>
                            <div class="info-unit-desc">
                                {{ .Param "description" }}
                            </div>
                        </div>
                        <div class="judge-info-unit">
                            <h4>Адвокатская помощь </h4>
                            <p>Для поиска адвоката и уточнения дополнительных вопросов вы можете обратиться на горячую линию:</p>
                            <ul style="padding-left: 15px">
                                <li><a href="tel:+375447338017">+37544 733 80 17</a></li>
                                <li><a href="tel:+375257283336">+37525 728 33 36</a></li>
                                <li><a href="tel:+375333213103">+37533 321 31 03</a></li>
                            </ul>
                            <p>Многие адвокаты предоставляют услуги в нынешней ситуации бесплатно или за символическую плату.</p>
                        </div>
                    </div>
                    <!--                    <div class="tags-wrp">-->
                    <!--                        <a class="tag-unit" href="#">Взятки</a>-->
                    <!--                        <a class="tag-unit" href="#">Длиный тег</a>-->
                    <!--                        <a class="tag-unit" href="#">Длиный тег</a>-->
                    <!--                        <a class="tag-unit" href="#">Длиный тег</a>-->
                    <!--                    </div>-->
                    <div class="court-info-footer flex-row" style="margin:30px -30px -30px -30px">
                        <div class="section size-50 pdng-t-20px pdng-b-20px txt-algn-c">
                            <h1 class="txt-size-24px txt-nottransform">
                                <span id='{{$.Param "id"}}_fines_rub'></span> р.


                            </h1>
                            <h3 class="txt-size-18px">
                                <span id='{{$.Param "id"}}_fines'></span> баз. величин
                            </h3>
                        </div>
                        <div class="section size-50 pdng-t-20px pdng-b-20px txt-algn-c">
                            <h1 class="txt-size-24px">
                                <span id='{{$.Param "id"}}_arrests'></span>
                            </h1>
                            <h3 class="txt-size-18px">
                                Суток административного ареста
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="section size-50 mil-size-100 mil-height-250px mil-noborders">
                    <div style="position:relative;overflow:hidden; width:100%; height:100%;">
                        <location :longitude='{{.Param "longitude"}}' :latitude='{{.Param "latitude"}}'></location>
                    </div>
                </div>
            </div>
        </div>
        <div class="scene pdng-t-10px pdng-b-10px">
            <div class="tabset">
                <input type="radio" name="tabset" id="tab1" aria-controls="staff-control" autofocus checked>
                <label for="tab1">Состав</label>
                <input type="radio" name="tabset" id="tab2" aria-controls="calendar-control">
                <label for="tab2">Слушания</label>
                <input type="radio" name="tabset" id="tab3" aria-controls="decision-control">
                <label for="tab3">Решения</label>
                <div class="tab-panels">
                    <section id="staff-control" class="tab-panel">
                        <div class="flex-row flex-wrap pdng-t-20px mil-flex-column">
                            {{ range $index, $element := .Param "judges"}}
                            <div class="section flex-row size-15 mil-size-100 mil-pdng-b-50px">
                                <div class="judge-unit flex-column pdng-5prc txt-algn-c">
                                    <div class="judge-unit-photo">
                                        <img src="https://cdn.zubr.ws/courts/judges/{{$element.id}}.jpg">
                                    </div>
                                    <h3 class="judge-unit-name txt-color-1">
                                        {{ $element.fullName}}
                                    </h3>
                                    <div class="judge-unit-position">
                                        {{ $element.court.position}}
                                    </div>
                                    {{ $length := len $element.tags}}
                                    {{ if (gt $length 0)}}
                                    <div class="tags-wrp txt-algn-l">
                                        {{ range $index, $element := $element.tags}}
                                        <a class="tag-unit" href="#">{{index $.Site.Data.translations $element}}</a>
                                        {{end}}
                                    </div>
                                    {{end}}
                                    <div class="flex-grow-all"></div>
                                    <div class="pdng-t-30px">
                                        <a class="button size-100" href="/judge/{{ $element.id}}">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                            {{end}}
                        </div>
                    </section>
                    <section id="calendar-control" class="tab-panel">
                        {{$id := .Param "id"}}
                        <trials :initial-court="'{{$id}}'"></trials>
                    </section>
                    <section id="decision-control" class="tab-panel">
                        <decisions :court='"{{.Param "id"}}"'></decisions>
                    </section>
                </div>
            </div>
        </div>
        {{ partial "footer"}}
    </div>
</div>
{{end}}
{{ define "assets"}}
<script>
    var id = '{{.Param "id"}}';
</script>
<style>
    .tabset > input[type="radio"] {
        position: absolute;
        left: -200vw;
    }

    .tabset .tab-panel {
        display: none;
    }

    .tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
    .tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
    .tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
    .tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
    .tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
    .tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
        display: block;
    }

    .tabset > label {
        position: relative;
        display: inline-block;
        padding: 15px 15px 25px;
        border: 1px solid transparent;
        border-bottom: 0;
        cursor: pointer;
        font-size: 18px;
        font-weight: 700;
    }

    .tabset > label::after {
        content: "";
        position: absolute;
        left: 15px;
        bottom: 10px;
        width: 22px;
        height: 4px;
        background: #8d8d8d;
    }

    .tabset > label:hover,
    .tabset > input:focus + label {
        color: rgba(255,92,1,1);
    }

    .tabset > label:hover::after,
    .tabset > input:focus + label::after,
    .tabset > input:checked + label::after {
        background: rgba(255,92,1,1);
    }

    .tabset > input:checked + label {
        border-color: #ccc;
        border-bottom: 1px solid #fff;
        margin-bottom: -1px;
    }

    .tab-panel {
        padding: 30px 0;
        border-top: 1px solid #ccc;
    }
</style>
{{ .Scratch.Set "entry" "court" }}
{{ partial "assets" . }}
{{end}}
