{{ define "main" }}
<div class="two-coll-wrapper flex-row mil-flex-column" id="app">
    <div class="section size-70 mil-size-100">
        {{ partial "header" . }}
        <div class="scene">
            <div class="court-info flex-row flex-algn-itms-strch mil-flex-column-reserve">
                <div class="section size-50 pdng-30px mil-size-100">
                    <h1 class="txt-size-34px txt-nottransform">
                        {{ .Param "name" }}
                    </h1>
                    <div class="court-info-wrp pdng-t-20px pdng-b-20px">
                        <div class="judge-info-unit">
                            <div class="judge-info-unit-name txt-color-1">
                                Код:
                            </div>
                            <div class="info-unit-desc">
                                {{ .Param "id" }}
                            </div>
                        </div>
                        <div class="judge-info-unit">
                            <div class="judge-info-unit-name txt-color-1">
                                Адрес:
                            </div>
                            <div class="info-unit-desc">
                                {{ .Param "address" }}
                            </div>
                        </div>
                        <div class="judge-info-unit">
                            <div class="judge-info-unit-name txt-color-1">
                                Телефон(ы):
                            </div>
                            <div class="info-unit-desc">
                                {{ .Param "description" }}
                            </div>
                        </div>
                    </div>
<!--                    <div class="tags-wrp">-->
<!--                        <a class="tag-unit" href="#">Взятки</a>-->
<!--                        <a class="tag-unit" href="#">Длиный тег</a>-->
<!--                        <a class="tag-unit" href="#">Длиный тег</a>-->
<!--                        <a class="tag-unit" href="#">Длиный тег</a>-->
<!--                    </div>-->
                    <div class="court-info-footer flex-row" style="margin:30px -30px -30px -30px">
                        <div class="section size-50 pdng-t-20px pdng-b-20px txt-algn-c">
                            <h1 class="txt-size-24px txt-nottransform">
                                0 р.
                            </h1>
                            <h3 class="txt-size-18px">
                                0 баз. величин
                            </h3>
                        </div>
                        <div class="section size-50 pdng-t-20px pdng-b-20px txt-algn-c">
                            <h1 class="txt-size-24px">
                                0
                            </h1>
                            <h3 class="txt-size-18px">
                                Суток ареста
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="section size-50 mil-size-100 mil-height-250px mil-noborders">
                    <div style="position:relative;overflow:hidden; width:100%; height:100%;">
                        <location :longitude='{{.Param "longitude"}}' :latitude='{{.Param "latitude"}}'></location>
                    </div>
                </div>
            </div>
        </div>
        <div class="scene">
            <div class="pdng-t-5prc pdng-b-20px">
                <h2 class="txt-uppercase txt-color-1 txt-nottransform txt-algn-c">
                    Состав
                </h2>
            </div>
            <div class="flex-row flex-wrap pdng-t-20px mil-flex-column">
                {{ range $index, $element := .Param "judges"}}
                <div class="section size-25 mil-size-100 mil-pdng-b-50px">
                    <div class="judge-unit pdng-5prc txt-algn-c">
                        <div class="judge-unit-photo">
                            <object data='https://cdn.zubr.ws/courts/judges/{{$element.id}}.jpg'  type="image/jpeg">
                                <img alt="photo" src="/imgs/icons/svg/user-gray.svg">
                            </object>
                        </div>
                        <h3 class="judge-unit-name txt-color-1">
                            {{ $element.fullName}}
                        </h3>
                        <div class="judge-unit-position">
                            {{ $element.court.position}}
                        </div>
                        <p class="judge-unit-description pdng-t-20px"></p>
                        <div class="tags-wrp txt-algn-l pdng-t-10px">
                            <a class="tag-unit" href="#">Взятки</a>
                            <a class="tag-unit" href="#">Длиный тег</a>
                            <a class="tag-unit" href="#">Политические дела</a>
                            <a class="tag-unit" href="#">Длиный тег</a>
                        </div>
                        <div class="pdng-t-30px">
                            <a class="button size-100" href="/judge/{{ $element.id}}">Подробнее</a>
                        </div>
                    </div>
                </div>
                {{end}}
            </div>
        </div>
        <decisions :court='"{{.Param "id"}}"'></decisions>
        {{ partial "footer"}}
    </div>
    {{ partial "disqus" .}}
</div>
{{end}}
{{ define "js"}}
{{ $jsVendor := resources.Get "generated/js/chunk-court-vendors.js" | fingerprint }}
{{ $jsCurrent := resources.Get "generated/js/court.js" | fingerprint }}
{{ $cssCurrent := resources.Get "generated/css/court.css" | fingerprint }}
{{ $cssVendor := resources.Get "generated/css/chunk-court-vendors.css" | fingerprint }}
<script src="{{ $jsVendor.Permalink }}"></script>
<script src="{{ $jsCurrent.Permalink }}"></script>
<link rel="stylesheet" href="{{$cssCurrent.Permalink}}"/>
<link rel="stylesheet" href="{{$cssVendor.Permalink}}"/>
{{end}}
